/* hero */
.hero{
    padding: 0;
}

/* estrutura do slide */
.hero .carousel{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position:relative;

}
.hero img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: block;
    object-fit: cover;
    z-index: 1;

}
.hero .carousel-item{
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

.hero .carousel-item:before{
    content:0 ;
    background:blue ;
    position: absolute;
    inset: 0;
    z-index: 2;
}
.hero .carousel-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    inset: 0;
}

.hero h2{
    color:#f2f2f2 ;
    font-size: 2.2rem;
}

.hero p{
    color: #fafcfc;
    max-width: 60%;
}
.hero .carousel-control-prev,
.hero.carousel-control-next{
  background: none;
  font-size: 2rem;
  line-height: 1;
  width: 10%;
  transition: 0.3s;
  opacity: 0.3;
}

.hero .carousel-control-prev-hover,
.hero.carousel-control-next-hover{
  opacity: 0.9;
  color: rgb(158, 158, 252);
  transition: 0.35;
  border: none;
}
.hero .carousel-control-prev-focus,
.hero.carousel-control-next-focus{
  opacity: 0.5;
  line-height: 0;
}
.carousel-indicatores .active{
  background-color: #fafcfc;
}
/* Call to Action */

.cta {
  padding: 7.25rem 0;
  position: relative;
  clip-path: inset(0); /* Recorte */
}

.cta img {
  display: block;
  position: fixed;
  /* Posição */
  bottom: 0;
  right: 0;
  width: 100%; /* largura */
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.cta .container {
  position: relative;
  z-index: 3;
}

/* Filtro Antes da Foto */
.cta::before {
  content: "";
  background: #3a3a3a79;
  position: absolute;
  inset: 0;
  z-index: 3;
}

.cta .cta-btn {
  font-size: 1.4rem;
  color: azure;
  /* background: green; */
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  border-radius: .5rem;
  transition: .5s;
  letter-spacing: 1px;
  font-weight: 400;
  border: 2px solid azure;
}

.cta-btn {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
}

.cta .cta-btn:hover {
  /* filter: brightness(80%); */
  background: green;
  border: none;
/*   box-shadow: 1px 1px 15px 5px #0000003d; */
}



